<?xml version="1.0" encoding="utf-8"?>
<widget id="io.github.kristorres" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mobil Ave</name>
    <author email="torres-kris@outlook.com" href="https://kristorres.github.io">
        Kris Torres
    </author>
    <content src="index.html" />
    <platform name="ios">
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="DisallowOverscroll" value="true" />
        <custom-config-file target="*-Info.plist" parent="UISupportedInterfaceOrientations~ipad" mode="replace">
            <array>
                <string>UIInterfaceOrientationPortrait</string>
            </array>
        </custom-config-file>
    </platform>
</widget>
